/ {
    leds {
        compatible = "gpio-leds";
        led0: led {
            gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
        };
    };
    zephyr,user {
        st7920_gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>, // Não pode mudar
                <&gpioa 7 GPIO_ACTIVE_HIGH>, // Não pode mudar
                <&gpioa 6 GPIO_ACTIVE_HIGH>, // Não pode mudar
                <&gpioa 5 GPIO_ACTIVE_HIGH>; // Não pode mudar
    };

    aliases {
      mycan = &can1;
    };
};

&can1 {
    status = "okay";
    pinctrl-0 = <&can_rx_remap1_pb8 &can_tx_remap1_pb9>;
    pinctrl-names= "default";
};
